{% extends 'main/base.html' %}

{% block title%}Главная страница{% endblock %}

{% load thumbnail %}
{% block content %}

    <dev class="features">

        <h1>Ваши добавленые новости</h1>
        <hr>
        <p>{% if news_page %}
                {% for new in news_page  %}
                    <h2>{{ new.title }}</h2>

                    <div class="pic-block">
                    {% thumbnail new.image "400x200" crop="center" upscale=True as im %}
                        <img class="card-img my-2" src="{{ im.url }}">
                    {% endthumbnail %}
                    </div>

                    <p>{{ new.text }}</p>

                    <dev class="batton-news">
                        {{ new.data }}
                        <a href="{% url 'news_detail' new.id %}"><button class="btn btn-warning">Подробности</button></a></p>
                    </dev>
                    <hr>
                {% endfor %}
        {% else %}
            <p>У вас нету записей. Добавте новости</p>
        {% endif %}

        {% include 'news/includes/paginator.html' %}
        </p>
    </dev>



{% endblock %}